* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#container {
    padding: 0 22px;
}

a {
    text-decoration: none;
    color:#3B4144;
}
/* header */
#header {
    position: fixed;
    z-index: 10;
    padding: 36px  16px;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    height: 85px;
    align-items: center;
    /*box-shadow: 0 0 5px #ccc;*/

    background: rgba(255, 255, 255, 0.7);
}
.header-nav {
    flex: 2;
}
.header-nav-main {
    list-style: none;
    display: flex;
}
.header-nav-main-item {

}
.header-nav-main-item-link:hover {
    /* background-color: green;
    color: white;
    border-radius: 30px;
    padding: 4px 8px; */
    color:black;
    border-bottom: 2px solid red;
    display: inline-block;
}
.header-nav-main-item-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.5);
    line-height: 17px;
    margin: 0 24px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-bottom: 8px;
    color:black;
}
.header-nav-main-item-link.active0 {
    border-bottom: 2px solid red;
    display: inline-block;
    padding-bottom: 8px;
    color:black;
}
.logo {
    text-align: center;
    flex: 1;
}
.logo-img {
    height: 24px;
    width: 83px;
    object-fit: contain;
    margin-left: 10px;
    margin-right: auto;
}
.header-user {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: flex-end;
    
}
.header-fav-icon2 {
    height: 20px;
    cursor: pointer;
}
.header-fav-icon2:hover {
    background-color: greenyellow;
}
.header-post {
margin-left: 24px;
}
.header-post-link {
    text-decoration: none;
    padding: 6px 24px;
    border-radius: 30px;
    font-size: 0.875rem;
    color: #FFFFFF;
    background-color: #D93C23;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.0015rem;
    margin-right: 10px;
}
.header-post-link:hover {
    background-color: rgba(255, 0, 0, 0.7);
    }
.header-user-infor {
    display: flex;
    align-items: end;
    margin-left: 12px;
    cursor: pointer;
}
.header-user-infor:hover {
    background-color: rgba(128, 128, 128, 0.2);
}
.user-infor {
    justify-self: end;
    margin-right: 10px;
}
.user-infor-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: #272727;
    text-align: right;
}
.user-level {
    font-weight: 400;
    font-size: 0.75rem;
    color: #272727;
    opacity: 0.5;
    text-align: right;
}
.user-avatar .imgavatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}
/* end header */
/* css */
.header-nav-main-menu {
    display: none;
}
.header-fav-icon1 {
    display: none;
}
/* end css */
/* container */
.container {

}
.main {
    margin: 100px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider-img {
    background-image: url('../img/slider/img.png');
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    aspect-ratio: 1416/390;
    width: 80%;
    background-size: cover ;
    border-radius: 16px;
    position: relative;
}
.slider-text {
position: absolute;
bottom: 50%;
display: block;
box-sizing: border-box;
left: 12%;
top: 100px;
}

.slider-text-main {
    display: block;
    width: auto;
    height: auto;
    margin-bottom: 16px;
}
/* new */
.new {
/* margin-top: -80px; */
}
.new-lable {
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: flex-end; */
    flex-direction: row;
    margin-top: 20px;
}
.new-lable-icon {
    width: 36px;
    height: 40px;

    cursor: pointer
}
.new-lable-title {
    margin-left: 12px;
    height: auto;
    width: auto;
    color: rgba(59, 65, 68, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-align: left;
    cursor: pointer;
}

.poster {
    /* margin-top: -12px; */
}
.poster-text {

}
.poster-list {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 24px;
}
.poster-list-item {
    display: flex;
        position: relative;
        margin-bottom: 24px;
        flex-direction: row;
}
.poster-list-poster {
    position: relative;
}
.poster-list-img {
    width: auto;
    height: 220px;
    aspect-ratio: 336/220;
    
}
.poster-list-icon-fav {
    position: absolute;
        top: 26.5px;
        right: 26px;
        width: 20px;
        height: 19px;
}
.poster-desc {
    font-size: 16px;
        /* text-align: justify; */
        width: calc(100% - 24px);
        height: 220px;
        text-align: left;
        margin-left: 24px;
        /* margin-top: 16px; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
}
.poster-desc-titles {
    size: 18px;
    color: #3B4144
}
.poster-desc-title {
    height: auto;
    width: 100%;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.0015em;
    text-align: left;
    margin-bottom: 6px;

}
.poster-desc-author {
    margin-bottom: 6px;
    height: auto;
    width: 100%;
}
.new-poster-author::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #3B4144;
    margin-right: 5px;
    transform: translateY(-100%);
}
.new-poster-author::after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #3B4144;
    margin-left: 5px;
    transform: translateY(-100%);
}
.new-poster-cat {
    color: rgba(0, 120, 130, 1);
}
.new-poster-author {
    color: #3B4144;
}
.new-poster-cre-at {
color: rgba(0, 0, 0, 0.5);
}
.poster-desc-content {
    height: auto;
    width: 100%;
}
.test {
    /* height: 90px;
    width: 576px; */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    text-align: left;
    color: rgba(59, 65, 68, 0.5);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
/* end poster */
/* next */
.next {
    text-align: center;
}
.next-next {
    margin-right: 20px;
    padding: 8px 24px;
    display: inline-block;
    border-radius: 36px;
    border: 1.25px solid #3B4144;
    font-size: 0.875rem;
    font-weight: 600;
    color: #3B4144;
}
.next-next:hover {
    background-color: rgba(59, 65, 20, 0.7);
}
/* end new */
/* end container */